---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="bg-gradient-to-b from-slate-200 to-slate-50 dark:from-slate-900 dark:to-slate-800" slot="header">
    <Nav />

    <header class="md:min-h-[calc(100vh-32rem)] p-8 mx-auto flex flex-row items-end">
      <div class="lg:basis-[40%]" />
      <div class="relative max-w-[50rem] absolute bottom-0">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-slate-800 dark:text-slate-100 font-mono">The voice of Prince Edward Island's IT industry</h1>
      </div>
    </header>
  </div>

  <section class="border-t md:border-b border-slate-200 dark:border-slate-700">
    <div class="max-w-[70rem] mx-auto grid grid-cols-1 md:grid-cols-2 [&>*]:border-b [&>*]:md:border-b-0 [&>:nth-child(2n-1)]:md:border-r">
      <div class="flex flex-col gap-4 border-slate-200 dark:border-slate-700 p-8">
        <h2 class="text-xl md:text-2xl font-bold text-slate-800 dark:text-slate-100 font-mono">We are here to help with</h2>
        <ul class="list-disc list-inside flex flex-col gap-2 text-slate-600 dark:text-slate-400">
          <li>IT Leadership</li>
          <li>Remote Workers</li>
          <li>Students</li>
          <li>Joining The Industry</li>
        </ul>
        <button class="w-fit border-2 border-slate-200 dark:border-slate-600 hover:border-slate-800 dark:hover:border-slate-400 rounded-xl px-4 py-2 text-slate-500 dark:text-slate-400 hover:text-slate-800 dark:hover:text-slate-200 font-mono">
          Learn more
        </button>
      </div>
      <aside class="flex flex-col gap-4 p-8">
        <h2 class="text-xl md:text-2xl font-bold text-slate-800 dark:text-slate-100 font-mono">Join the alliance</h2>
        <ul class="list-disc list-inside flex flex-col gap-2 text-slate-600 dark:text-slate-400">
          <li>Local Individuals</li>
          <li>Remote Individuals</li>
          <li>Companies</li>
          <li>Organizations</li>
        </ul>
        <button class="w-fit border-2 border-slate-200 dark:border-slate-600 hover:border-slate-800 dark:hover:border-slate-400 rounded-xl px-4 py-2 text-slate-500 dark:text-slate-400 hover:text-slate-800 dark:hover:text-slate-200 font-mono">
          Join now
        </button>
      </aside>
    </div>
  </section>

  <section id="community" class="w-full mx-auto px-8">
    <h2 class="max-w-[70rem] mx-auto text-2xl font-bold text-slate-800 dark:text-slate-100 font-mono">Meet the community</h2>
    <div class="flex flex-row w-[calc(100vw-2rem)] py-8 overflow-scroll">
      <div class="w-[min-content] flex flex-row gap-2">
        {[1,2,3,4,5,6,7,8].map(() => (
          <div class="relative grow-0 shrink-0 basis-96 h-[30rem] rounded-3xl bg-[url('/images/profiles/jared-burry.png')] bg-cover overflow-hidden p-8 flex flex-col justify-end">
            <div class="absolute z-0 top-0 right-0 bottom-0 left-0 bg-gradient-to-t from-black to-transparent" />
            <div class="relative z-1">
              <h3 class="text text-slate-50 shadow-sm font-bold text-xl">Jared Burry</h3>
              <p class="text text-slate-300 shadow-sm">Meet Jared Burry who lives on PEI and manages digital marketing for Ottawa’s Harris Computer</p>
            </div>
          </div>
        ))}
        <div />
      </div>
    </div>
  </section>

  <section id="partnerships" class="max-w-[70rem] mx-auto flex flex-col md:flex-row gap-6 px-8">
    <h2 class="basis-2/3 shrink-0 grow-0 text-3xl md:text-4xl font-bol text-slate-800 dark:text-slate-100 font-mono">
      We believe in strong partnerships to strengthen the ecosystem
    </h2>
    <div class="flex flex-col items-center gap-2">
      <img src="/images/partnerships/pei-devs.png" class="grow-0 w-48" />
      <img src="/images/partnerships/asda.png" class="grow-0 w-48" />
      <img src="/images/partnerships/atlantic-fintech.png" class="grow-0 w-48" />
    </div>
  </section>

  <Footer />

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const doc = document.documentElement
      const themeToggles = document.querySelectorAll('[data-theme]')
      const toggleTheme = () => {
        if (doc.classList.contains('dark')) {
          doc.classList.remove('dark')
        }
        else {
          doc.classList.add('dark')
        }
      }

      themeToggles.forEach(el => {
        el.addEventListener('click', toggleTheme)
      })
    })
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const feedback = document.querySelector('#feedback')
      if (!feedback) return
      const keyword = feedback.querySelector('.keyword')
      if (!keyword) return
      const keywords = ['great', 'big', 'new']

      let i = 0
      setInterval(() => {
        keyword.textContent = keywords[i]
        i++
        if (i >= keywords.length) i = 0
      }, 2000)
    })
  </script>
</Layout>
