---
---
<nav>
  <div class="max-w-[70rem] mx-auto px-8 flex items-center justify-between">
    <a href="/">
      <img src="/images/logo-dark.png"class="block dark:hidden h-24 md:h-32 w-auto" />
      <img src="/images/logo.png" class="hidden dark:block h-24 md:h-32 w-auto" />
    </a>
    <ul class="flex flex-row items-center gap-4">
      <li class="hidden md:block">
        <a href="/contact" class="text-slate-800 hover:text-slate-500 dark:text-slate-100 dark:hover:text-slate-50">Connect</a>
      </li>
      <li class="hidden md:block">
        <a href="/pei-devs" class="text-slate-800 hover:text-slate-500 dark:text-slate-100 dark:hover:text-slate-50">PEI Devs</a>
      </li>
      <li class="hidden md:block">
        <a href="#" class="text-slate-800 hover:text-slate-500 dark:text-slate-100 dark:hover:text-slate-50">How can I help?</a>
      </li>
      <li class="hidden md:block">
        <a href="#" class="text-slate-800 hover:text-slate-500 dark:text-slate-100 dark:hover:text-slate-50">About</a>
      </li>
      <li class="hidden md:block">
        <a href="#" class="text-slate-800 hover:text-slate-500 dark:text-slate-100 dark:hover:text-slate-50">News</a>
      </li>
      <li>
        <button class="w-fit bg-slate-800 dark:bg-slate-100 hover:bg-slate-300 dark:hover:bg-slate-600 rounded-xl px-4 py-2 text-slate-50 dark:text-slate-800 hover:text-slate-500 dark:hover:text-slate-300 font-mono" data-theme>
          Join <span class="hidden md:inline">now</span>
        </button>
      </li>
      <li>
        <button class="w-fit bg-slate-800 dark:bg-slate-100 hover:bg-slate-300 dark:hover:bg-slate-600 rounded-xl px-4 py-2 text-slate-50 dark:text-slate-800 hover:text-slate-500 dark:hover:text-slate-300 font-mono" data-theme>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>
          <span class="sr-only">Toggle theme</span>        
        </button>
      </li>
    </ul>
  </div>
</nav>